@page "/"

<h1>Hello! Welcome to TaskManager.</h1>

Choose automated workstation (AW) to work with.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>Admin pages:</strong>

    <span class="text-nowrap">
        <a href="/TaskTypes">Task types table</a>.
        @*<a href="/Persons">Persons table</a>,*@
        @*<a href="/Documents">Documents table</a>.*@

    </span>
</div>